
h1 {
  font-size: 350%;
}

body {
  font-size: 120%;
  font-family: 'Share Tech Mono', monospace;
  padding-top: 140px;
  padding-bottom: 50px;
  background-color: #1b1818;
  color: #ffffff;
}


p {
  padding-top: 8%;
}

#team {
  padding-top: 8%;
}

#projects {
  padding-top: 8%;
}

#carouselExampleControls {
  padding-top: 8%;
}

.carousel-control-prev {
  padding-top: 40%;
}

.carousel-control-next{
  padding-top: 40%;
}

#contact {
  padding-top: 10%;
}

.carousel {
    width: 60%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

